@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --primaryBgColor: #eeeff1;
  --secondaryBgColor: #f9f9f9;
  --accentBgColor: #34547a;

  --primaryTextColor: #727272;
  --secondaryTextColor: #000;
  --accentTextColor: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  height: 100%;
  max-width: 1920px;
  background-color: var(--secondaryBgColor);
}
.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* -------------header------------- */
header {
  background-color: var(--primaryBgColor);
  padding: 79px 405px 141px;
}
ul {
  display: flex;
  gap: 42px;
  list-style: none;
}
li {
  color: var(--secondaryTextColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 164.063%;
  letter-spacing: 1.6px;
  cursor: pointer;
}
li:hover {
  color: var(--accentBgColor);
  font-weight: 500;
}
.header > h1 {
  color: var(--secondaryTextColor);
  font-size: 48px;
  font-weight: 500;
  margin-top: 162px;
  margin-bottom: 60px;
}
.header > p {
  width: 540px;
  height: 67px;
  color: var(--primaryTextColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 164.063%;
}
.header > button {
  background-color: var(--accentBgColor);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 164.063%;
  letter-spacing: 1.6px;
  padding: 20px 41px;
  border: none;
  cursor: pointer;
  margin-top: 65px;
}
/* -------------main------------- */
main {
  flex-grow: 1;
}
.about-us {
  background-color: var(--secondaryBgColor);
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 100px;
}
.about-us > h4 {
  color: var(--secondaryTextColor);
  font-size: 32px;
  font-weight: 500;
}
.about-us > p {
  width: 560px;
  text-align: center;
  color: var(--primaryTextColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
/* ------------promo-items------------- */
.promo-items {
  background-color: var(--accentBgColor);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 49px;
  padding: 100px 405px;
}
.promo-item {
  display: flex;
  gap: 20px;
}
.item-text > p {
  color: var(--accentTextColor);
  font-size: 21px;
  font-weight: 500;
}
.item-text > span {
  color: var(--accentTextColor);
  font-size: 16px;
  font-weight: 400;
}
/* ------------promo-video------------- */
.promo-video {
  background-color: var(--primaryBgColor);
  display: flex;
  flex-direction: column;
  padding: 100px 405px;
  align-items: center;
}
.promo-video > h4 {
  color: var(--secondaryTextColor);
  font-size: 32px;
  font-weight: 500;
}
.promo-video > p {
  width: 560px;
  text-align: center;
  color: var(--primaryTextColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 50px;
  margin-bottom: 57px;
}
.video-block {
  width: 100%;
  height: 600px;
  background: url(/image/img/promo_video.png);
  background-size: contain;
  text-align: center;
  align-content: center;
}
.video-block > img {
  cursor: pointer;
}
/* -------------footer---------- */
footer {
  padding: 50px 405px;
  background-color: var(--accentBgColor);
}
.footer > p {
  color: var(--accentTextColor);
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 20px;
}
.footer > span {
  color: var(--accentTextColor);
  font-size: 13px;
  font-weight: 400;
}

/* =============media============ */
@media (max-width: 1440px) {
  body {
    max-width: 1440px;
  }
  /* -------------header------------- */
  header {
    padding: 60px 120px;
  }
  ul {
    gap: 40px;
  }
  .header > h1 {
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .header > p {
    width: 70%;
  }
  .header > button {
    padding: 15px 30px;
    margin-top: 60px;
  }
  /* -------------main------------- */
  .about-us {
    gap: 30px;
    padding: 100px 120px;
  }
  .about-us > h4 {
    font-size: 30px;
  }
  .about-us > p {
    width: 60%;
  }
  /* ------------promo-items------------- */
  .promo-items {
    gap: 40px;
    padding: 60px 120px;
  }
  /* ------------promo-video------------- */
  .promo-video {
    padding: 100px 120px;
  }
  .promo-video > h4 {
    font-size: 30px;
  }
  .promo-video > p {
    width: 60%;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .video-block {
    width: 100%;
  }
  /* -------------footer---------- */
  footer {
    padding: 60px 120px;
  }
  .footer > p {
    font-size: 15px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  /* -------------header------------- */
  body {
    max-width: 1024px;
  }
  header {
    padding: 60px;
  }
  .header > h1 {
    font-size: 40px;
    margin-top: 100px;
  }
  .header > p {
    width: 100%;
  }
  .header > button {
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 40px;
  }
  /* -------------main------------- */
  .about-us {
    padding: 60px;
    align-items: center;
  }
  .about-us > h4 {
    font-size: 28px;
  }
  .about-us > p {
    width: 100%;
    text-align: center;
  }
  /* ------------promo-items------------- */
  .promo-items {
    padding: 60px;
    gap: 30px;
  }
  .promo-item {
    gap: 10px;
  }
  .item-text > p {
    font-size: 16px;
  }
  /* ------------promo-video------------- */
  .promo-video {
    align-items: center;
    padding: 60px;
  }
  .promo-video > h4 {
    font-size: 28px;
  }
  .promo-video > p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .video-block {
    width: 100%;
    height: 500px;
  }
  .video-block > img {
    width: 50px;
    cursor: pointer;
  }
  /* -------------footer---------- */
  footer {
    padding: 40px 60px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: 768px;
  }
  /* -------------header------------- */
  header {
    padding: 40px;
  }
  ul {
    gap: 10px;
  }
  li {
    font-size: 12px;
  }
  .header > h1 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .header > p {
    height: 100%;
  }
  .header > button {
    font-size: 14px;
    padding: 10px 15px;
    margin-top: 30px;
  }
  /* -------------main------------- */
  .about-us {
    padding: 40px;
    gap: 20px;
    align-items: start;
  }
  .about-us > h4 {
    font-size: 26px;
  }
  .about-us > p {
    text-align: start;
  }
  /* ------------promo-items------------- */
  .promo-items {
    padding: 40px;
    gap: 30px;
  }
  .promo-item {
    display: flex;
    gap: 15px;
  }
  .promo-item > img {
    width: 40px;
  }
  /* ------------promo-video------------- */
  .promo-video {
    padding: 40px;
    align-items: start;
    gap: 20px;
  }
  .promo-video > h4 {
    font-size: 26px;
  }
  .promo-video > p {
    text-align: start;
    margin: 0;
  }
  .video-block {
    width: 100%;
    height: 400px;
  }
  .video-block > img {
    width: 40px;
  }
  /* -------------footer---------- */
  footer {
    padding: 20px 40px;
  }
  .footer > p {
    font-size: 14px;
  }
  .footer > span {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  body {
    max-width: 480px;
  }
  ul {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  li {
    font-size: 10px;
  }
  .header > h1 {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 15px;
  }
  .header > p {
    font-size: 14px;
  }
  .header > button {
    font-size: 12px;
    padding: 8px 12px;
    margin-top: 20px;
  }
  /* -------------main------------- */
  .about-us {
    align-items: start;
    gap: 10px;
  }
  .about-us > h4 {
    font-size: 20px;
  }
  .about-us > p {
    font-size: 14px;
  }
  /* ------------promo-items------------- */
  .promo-item {
    display: flex;
    gap: 10px;
  }
  .promo-item > img {
    width: 40px;
  }
  .item-text > p {
    font-size: 14px;
    font-weight: 400;
  }
  .item-text > span {
    font-size: 14px;
  }
  /* ------------promo-video------------- */
  .promo-video {
    gap: 10px;
  }
  .promo-video > h4 {
    font-size: 20px;
  }
  .promo-video > p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .video-block {
    width: 100%;
    height: 250px;
  }
  .video-block > img {
    width: 40px;
  }
  /* -------------footer---------- */
  .footer > p {
    font-size: 8px;
    padding: 0;
  }
  .footer > span {
    font-size: 8px;
  }
}
@media (max-width: 320px) {
  body {
    max-width: 320px;
  }
  /* -------------header------------- */
  header {
    padding: 30px 20px;
  }
  ul {
    gap: 10px;
  }
  li {
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 1.2px;
  }
  li:hover {
    font-weight: 400;
  }
  .header > h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  .header > p {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .header > button {
    display: block;
    font-size: 10px;
    padding: 10px 15px;
    margin: 25px auto;
  }
  /* -------------main------------- */
  .about-us {
    align-items: center;
    gap: 15px;
    padding: 20px;
  }
  .about-us > h4 {
    font-size: 24px;
  }
  .about-us > p {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  /* ------------promo-items------------- */
  .promo-items {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .promo-item {
    display: flex;
    gap: 10px;
  }
  .promo-item > img {
    width: 30px;
  }
  .item-text > p {
    font-size: 12px;
  }
  .item-text > span {
    font-size: 12px;
  }
  /* ------------promo-video------------- */
  .promo-video {
    padding: 20px;
    align-items: center;
    gap: 15px;
  }
  .promo-video > h4 {
    font-size: 24px;
  }
  .promo-video > p {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .video-block {
    height: 180px;
  }
  .video-block > img {
    width: 25px;
  }
  /* -------------footer---------- */
  footer {
    padding: 10px 20px;
  }
  .footer > p {
    font-size: 6px;
    font-weight: 200;
    line-height: 0%;
    padding-bottom: 0px;
  }
  .footer > span {
    font-size: 6px;
    font-weight: 200;
  }
}
